:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    
    background-color: #D9D9D9;
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  *,*::after {
      margin: 0;
  }
  
  
  
.np-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 0.5rem 0rem;
    p {
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: space-between;
    }
}

.np-navbar {
    display: flex;
    background-color: #2c2c2c;
    
    overflow:hidden;
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    padding-left: 6rem;
    transition: 0.3s all ease;
    div {
        width: 7rem;
        background-color: #585858;
        border: #242424;
        border-radius: 0.5rem;
        margin: 0.3rem;
        transition: 0.3s all ease;
        cursor: pointer;
    }
    div:hover {
    background-color: #414040;
    }
}

  
    
.np-sticky-note {
    display: flex;
    flex-direction: column;
    color: #242424;
    height: 230px;
    width: 230px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 20%, 20% 0);
    cursor: pointer;

    transition: 0.3s all ease;
    font-size: small;
    p {
        padding: 0rem 1rem ;
    }
}
.np-sticky-note::before {
   
    position: sticky;
    content: "";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 0);
    left: 0;
   
    width: 46px;
    height: 46px;
    background-color: rgba($color: #585858, $alpha: 0.2);
    z-index: 1;
}
.np-sticky-note:hover {
    transform: scale(110%);
}


.np-content {
    display: flex;
}
.np-displayer {
    display: flex;
    width: 100%;
    gap: 3rem;
    padding: 50px;
    flex-wrap: wrap;
    place-items: center;
    justify-content:space-evenly;

}





.np-sidebar {
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.np-sidebar-option {
    background-color: #585858;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.3s all ease;
    padding: 0.4rem;
    width: 4rem;
    margin: 0rem 0.4rem;
}
.np-sidebar-option:hover {
    background-color: #414040;
}



.np-note {
    background-color: #e2f188;
    height: 200vh;
    width: calc(100vw - 20rem);
    display: flex;
    flex-direction: column;

    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;

    }
    input {
        background-color: #e2f188;
        border: none;
        color: #242424;
    }
    input[type='text'] {
        width: 50%;
        height: 2rem;
        font-size: larger;
        font-weight: bolder;
        text-align: center;
    }
    textarea {
        background-color: #e2f188;
        width: calc(100% - 3rem);
        height: 100%;
        display: flex;
        background-color: #e2f188;
        border: none;
        color: #242424;
    }
}